<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <title></title>

    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="/static/css/main.css">


</head>
    <footer th:fragment="footer">
        <ul>
            <li>Kontakt do autora strony:</li>
            <li>emillibera@gmail.com</li>
            <li>782-059-139</li>
            <a href="https://github.com/libera13"><li>github.com/libera13</li></a>
        </ul>
    </footer>
</body>
</html>
