/*h1.logo*/
/*{*/
/*	font-size: 40px;*/
/*	font-weight: 700;*/
/*	background-image: url("/images/blue-snow.png");*/
/*	color: #ddd;*/
/*	text-align: center;*/
/*	text-transform: uppercase;*/
/*	letter-spacing: 5px;*/
/*	height: 90px;*/
/*}*/

body
{
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/cork-wallet.png");
}

#topnav
{
	background-color: #1c74b2;
	text-align: center;
}

.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}

.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
}

.menu > li:first-child
{
	border-left: 1px dashed #0a2b42;
}

.menu a
{
	color: #fff;
	text-decoration: none;
}

.menu a:hover
{
	color: #0a2b42;
}

a
{
	color: #fff;
	text-decoration: none;
}

/*footer*/

.socials
{
	width:100%;
	text-align: center;
	background-color: #191d21;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 155px;
	float:left;
}

.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 250px;
	height: 155px;
	float:left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #3095d3;
}

.gplus
{
	width: 250px;
	height: 155px;
	float:left;
}

.gplus:hover
{
	background-color: #d95333;
}
