<!DOCTYPE HTML>
<html lang=pl xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biblioteka xyz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
body {
 background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/cork-wallet.png");
 }
</style>
<body> 
	<h1>Dodaj produkt</h1>
    <form action="#" th:action="@{/dodaj}" th:object="${item}" method="post">
        <table>
                <tr>
                    <td>Tytuł:</td>
                    <td><input type="text" th:field="*{itemName}" /></td>
                    <td th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}">ItemName Error</td>
                </tr>
                <tr>
                    <td>Autor:</td>
                    <td><input type="text" th:field="*{author}" /></td>
                    <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</td>
                </tr>
                 <tr>
                    <td>Ilość w magazynie:</td>
                    <td><input type="number" th:field="*{quantityInStock}" /></td>
                    <td th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}">QuantityInStock Error</td>
                </tr>
                 <tr>
                    <td>Strony:</td>
                    <td><input type="number" th:field="*{pages}" /></td>
                    <td th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}">Pages Error</td>
                </tr>
                 <tr>
                    <td>Rok wydania:</td>
                    <td><input type="number" th:field="*{publicationDate}" /></td>
                    <td th:if="${#fields.hasErrors('publicationDate')}" th:errors="*{publicationDate}">Age Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Wyślij</button>  <button type="reset">Reset</button></td>
                </tr>
           </table>
           <a href="/produkty/lista">Lista produktów</a>
    </form>
</body>
</html>