<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Biblioteka xyz</title>
    <meta name="description" content="Tylko najlepsze książki" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--Bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="../fontello/css/fontello.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css"> <!-- css do menu-->
</head>
<body>
<div class="container">
    <div th:replace="fragments/menu :: header">Header</div>
    <div class="col-md-8 offset-md-2">
        <form action="#" th:action="@{/books/add}" th:object="${item}" method="post">
            <h3 th:text="#{menu.add}"></h3>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="#{books.title} + ': '"></label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{itemName}" />
                        <p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}">ItemName Error</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="#{books.author} + ': '">Autor:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{author}" />
                        <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="#{books.quantity} + ': '">Ilość w magazynie:</label>
                    <div class="col-sm-10">
                        <input type="number" th:field="*{quantityInStock}" /></td>
                        <p th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}">QuantityInStock Error</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="#{books.pages} + ': '">Strony:</label>
                    <div class="col-sm-10">
                        <input type="number" th:field="*{pages}" /></td>
                        <p th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}">Pages Error</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="#{books.publicationYear} + ': '">Rok wydania:</label>
                    <div class="col-sm-10">
                        <input type="number" th:field="*{publicationDate}" /></td>
                        <p th:if="${#fields.hasErrors('publicationDate')}" th:errors="*{publicationDate}">Age Error</p>
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>
        </form>
    </div>
</div>
</body>
</html>