<!DOCTYPE HTML>
<html lang=pl xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep ekologiczny. </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
body {
 background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/cork-wallet.png");
 }
</style>
<body> 
	<h1>Dodaj produkt</h1>
    <form action="#" th:action="@{/witam}" th:object="${ModelAtributeName}" method="post">
        <p>Nazwa: <input type="text" th:field="*{itemName}" /></p>
        <p>Opis: <input type="text" th:field="*{description}" /></p>
        <p>Ilość w magazynie: <input type="text" th:field="*{quantityInStock}" /></p>
        <p>Cena sprzedaży: <input type="text" th:field="*{sellingPrice}" /></p>
        <p>Obrazek: <input type="file" th:field="*{image}" /></p>
          
        <p><input type="submit" value="Prześlij" /> <input type="reset" value="Reset" /></p>
    </form></body>
</html>