<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Biblioteka xyz</title>
	<meta name="description" content="Tylko najlepsze książki" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!--Bootstrap-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="../fontello/css/fontello.css" type="text/css" />
	<link rel="stylesheet" href="/css/main.css"> <!-- css do menu-->
</head>
<body>
<div class="container">
	<div th:replace="fragments/menu :: header">Header</div>
<!--		<div id="content" class="rectangle">-->
<!--			<h1>MENU</h1>-->
<!--			-->
<!--			<a href="/books/add">-->
<!--				<div class="tile1">-->
<!--					<i class="icon-plus-circled"></i><br /> Dodaj książkę -->
<!--				</div>-->
<!--			</a>	-->
<!--					-->
<!--			<a href="/books/list">-->
<!--				<div class="tile2">-->
<!--					<i class="icon-list"></i><br /> Lista produktów -->
<!--				</div>-->
<!--			</a>-->
<!--			<div style="clear:both;"></div>-->
<!--		</div>-->
</div>
</body>
</html>