<!DOCTYPE html>
<html lang=pl xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lista książek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<style>
body {
 background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/cork-wallet.png");
 }
</style>
<body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${ItemListAttr}" class="container my-5">
                    <p class="my-5">
                        <a href="/dodaj" class="btn btn-primary"><i
       class="fas fa-user-plus ml-2"> Dodaj ksiażkę</i></a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">Nic nie ma w bibliotece!</h2>
                        <div th:case="*">
                          
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Tytuł</th>
                                        <th>Autor</th>
                                        <th>Ilość w magazynie</th>
                                        <th>Strony</th>
                                        <th>Rok wydania</th>
                                        <th>Edytuj</th>
                                        <th>Usuń</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${ItemListAttr}">
                                        <td th:text="${item.itemName}"></td>
							            <td th:text="${item.author}"></td>
							            <td th:text="${item.quantityInStock}"></td>
							            <td th:text="${item.pages}"></td>
                                        <td th:text="${item.publicationDate}"></td>
                                        <td><a th:href="@{/produkty/edytuj/{id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/produkty/usun/{id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>